table {
  border: 1px black solid;
}

th {
  color: red;
  font-size: 36px;
  background-color: antiquewhite;
}
td {
  width: 150px;
  border: 2px black solid;
  background-color: aqua;
}
button {
  width: 133px;
}
