body{
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    background-color:antiquewhite;
}
form{
    background-color:cornsilk;
    padding: 20px;
    width: 300px;
    padding-left: 50px;

}
.otsikko{
    font-weight:700;
}
fieldset{
    width: 30%;
    background-color:aqua;
}
select{
    background-color:lightgoldenrodyellow;
}
input[type="checkbox"] {
    outline: 3px solid red;
}