
  *{
    color: white;
  }
  .flexcontainer {
    display: flex;
  }
  header,
  footer {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }

  header {
    background-color: #550000;
    padding-bottom: 20px;
  }

  aside {
    width: 30%;
    background-color: #aa3939;
    padding: 0 20px;
  }
  article {
    width: 70%;
    height: 100px;
    background-color: #801515;
    padding: 0 20px;
  }
  footer {
    background-color: #550000;
  }