@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: bisque;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
main{
width: 750px;
margin: 0 auto;
display: table;
border: 2px solid black;
background-color: white;
}
header{
    padding-left: 20px;
}
footer{
    clear: both;
    background-color: brown;
    color: white;
    padding: 5px;
    text-align: center;
}
img{
    float: right;
}

ul{
    list-style-type: none;
    padding: 20px;
}
li a{
    text-decoration: none;
}
li{
    background-color: bisque;
    margin-bottom: 10px;
    width:80%;
    padding: 3px;
    border: 1px solid black;
}
a{
    font-weight: 900;
    color: green;
}
article, aside{
    float: left;
}
aside{
    width: 30%;
}
article{
    width: 68%;
}