body{
    width: 1000px;
    margin: auto;
    background-color: #EDEDE9;
}
header{
    background-color: #D6CCC2;
    text-align: center;
    padding: 10px;
}
aside{
    background-color: #E3D5CA;
    width: 300px;
    text-decoration: none;
    padding: 10px;
    float: left;
    height: 250px;
}
article {
    background-color: #F5EBE0;
    width: 660px;
    padding: 10px;
    height: 250px;
    float: left;
}
footer {
    background-color: #D6CCC2;
    text-align: center;
    padding: 10px 0;
    margin-top: 270px;
}

address{
    text-align: center;
}
img{
    float: right;
}
aside ul {
    list-style-type: none;
    font-size: 150%;
    
}
aside ul li{
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: GREEN;

}