@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&family=Sedgwick+Ave+Display&display=swap');
body{
    width: 40%;
    margin: 50px auto;
    
}
#content {
    background-color: antiquewhite;
}
header{
    
}
    header h1 {
        float: right;
        padding-right: 400px;
        margin-bottom: -1px;
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 3em;
    }
    header img {
        float: left;
        display: inline-block;
        width: 10%;
        padding: 20px;
    }
    header p {
        margin-left: 70px;
        top: -50px;
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }
    header nav li{
        list-style-type: none;
        display: inline;
        float: right;
        font-size:xx-large;

    }
        header nav li a {
            color: firebrick;
            text-decoration: none;
        }
    header nav{
        margin-right: 50px;
    }
#kuva img{
    width: 100%;
    padding-top: 20px;
}
#sisalto{
    display: flex;
}
section{
    background-color:antiquewhite;
}
section article img {
    float: left;
    display: inline-block;
    width: 10%;
    padding: 20px;
}
section article h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2em;
    margin-top: 10px;
}
section article{
    width: 70%;
    float: left;
    padding: 20px;
}
section aside{
    width: 30%;
    float: right;
    background-color:aquamarine;
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
aside h2{
    font-size: 1.5em;
    text-align: center;
}
aside img{
    width: 100%;
}
hr{
    border-top: 5px gray solid;
}
main img#alas{
    width: 5%;
    margin-top: -20px;
    padding-left: 347px;
}
footer {
    display: flex;
}
footer article{
    width: 33%;
    
}
footer article img{
    width: 44%;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
    footer article img:hover {
        transform: scale(10);
    }
footer h3{
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
ul li{
list-style-type: none;
    
}
li a {
    color: magenta;

}