@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&family=Sedgwick+Ave+Display&display=swap');
body{
    width: 40%;
    margin: 50px auto;
    
}
#content {
    background-color: antiquewhite;
}
header{
    
}
    header h1 {
        float: right;
        padding-right: 400px;
        margin-bottom: -1px;
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 3em;
    }
    header img {
        float: left;
        display: inline-block;
        width: 10%;
        padding: 20px;
    }
    header p {
        margin-left: 70px;
        top: -50px;
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }
    header nav li{
        list-style-type: none;
        display: inline;
        float: right;
        font-size:xx-large;

    }
        header nav li a {
            color: firebrick;
            text-decoration: none;
        }
    header nav{
        margin-right: 50px;
    }
#kuva img{
    width: 100%;
    padding-top: 20px;
}